@import "tachyons";

html,
body {
    overflow: hidden;
    position: relative;
    height: 100%;
}

body {
	font-family: 'PingFang TC', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

main {
	display: flex;
	background-color: #111111;
	transition: all .2s ease-in-out;
	overflow-x: hidden;
	overflow-y: hidden;
}

#root, #canvas {
	overflow-x: hidden;
	overflow-y: hidden;
}

.overflow-y-scroll::-webkit-scrollbar {
  display: none;
}

#canvas {
	flex-grow: 1;
	transition: all .4s ease-in-out;
	height:  100vh;
}

#canvas.hide {
	opacity: 0;
}

#card {
	transition: all .2s ease-in-out;
	/*box-shadow: rgba(0,0,0,0.08) 0 4px 6px 0, rgba(0,0,0,0.16) 0 1px 10px 0;*/
	position: relative;
	overflow: hidden;
	transform-style: preserve-3d;
}

#card:hover {
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.__react_component_tooltip {
	border-radius: 40px !important;
}

#mono {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.pa5 {
	padding: 3rem;
}

img {
	vertical-align: bottom;
}

#mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#side {
	width: 360px;
	box-shadow: rgba(0,0,0,0.08) 0 4px 6px 0, rgba(0,0,0,0.16) 0 1px 10px 0;
	transition: all .6s ease-in-out;
}

.card {
	cursor: pointer;
	background-color: #232323;
	transition: all .2s ease-in-out;
}

#results {
	opacity: 1;
	transition: all .2s ease-in-out;
}

#results.hide {
	opacity: 0;
}

.cp {
	cursor: pointer;
}

.card .primary {
	color: #f4f4f4;
	font-size: 16px;
	line-height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
    width: 180px;
    overflow: hidden;
}

.card .secondary {
	color: #7D7D7D;
	font-size: 12px;
	line-height: 16px;
}

.card * {
	pointer-events: none;
}

.card:hover {
	background-color: #111111;
}

.card.active {
	background-color: #111111;
	box-shadow: 0 0 0 2px #09cef6;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#input {
  	background-color: rgba(118,118,128,.12);
  	color: #f4f4f4;
  	border: none;
  	border-radius: 10px;
  	padding: 16px 16px 16px 44px;
}

.mw-400 {
	max-width: 400px;
	width: 100%;
}

.circle {
	width: 40px;
	height: 40px;
	margin: 0 12px;
	border-radius: 40px;
}

.textbox {
	background-color: #f4f4f4;
  	color: #111111;
  	border: none;
  	border-radius: 40px;
  	font-size: 10pt;
  	padding: 8px 16px;
  	box-shadow: rgba(0,0,0,0.08) 0 4px 6px 0, rgba(0,0,0,0.16) 0 1px 10px 0;
	transition: all .2s ease-in-out;
}

#home {
	transition: all .4s ease-in-out;	
}

#url,
#card * {
	user-select: none;
}

#check {
	top: 0;
    right: 136px;
    background: #f4f4f4;
    padding: 8px;
    border-radius: 100%;
    transition: all .2s ease-in-out;
    opacity: 0;
}

#check.show {
	opacity: 1;
}

#url:hover {
	background-color: rgba(255,255,255,.75);;
}

.h40 {
	height: 40px;
}

.primaryBtn {
	background-color: #09cef6;
	border-radius: 40px;
	color: #111111;
	width: 120px;
	border: none;
	cursor: pointer;
	outline: inherit;
	padding: 0 16px;
	box-shadow: rgba(0,0,0,0.08) 0 4px 6px 0, rgba(0,0,0,0.16) 0 1px 10px 0;
	transition: all .2s ease-in-out;
}

.primaryBtn:hover {
	background-color: #00B6E1;
}

#input + img {
	top: calc(50% - 12px);
    left: 44px;
}

input[type='radio'] {
	position: absolute;
	left: -99999em;
	top: -99999em;
}

input[type='radio'] + label {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	float: left;
	border-bottom: 0;
	background-color: #333;
	padding: 12px 0;
	position: relative;
	transition: all .2s ease-in-out;
}

input[type='radio'] + label:hover {
    background-color: #232323;
}

input[type='radio']:checked + label {
	box-shadow: inset 0 -4px 0 0px #09cef6;
	background-color: #333;
	z-index: 1;
	color: #09cef6;
}

.labl > input + div{ /* (RADIO CHECKED) DIV STYLES */
    border: 2px solid #f4f4f4;
    transition: all .2s ease-in-out;
}

.labl > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    border: 4px solid #09cef6;
}

#searchBtn {
	display: none;
	z-index: 100;
    width: 48px;
    height: 48px;
    background: #333;
    border-radius: 100px 0 0 100px;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    transition: all .6s ease-in-out;
    box-shadow: rgba(0,0,0,0.08) 0 4px 6px 0, rgba(0,0,0,0.16) 0 1px 10px 0;
}

	#side.reset {
		margin-right: -360px;
	} 

@media only screen and (max-width: 959px) {
  	#side {
		width: 100vw;
		position: absolute;
		top: 0;
		left: 0;
	}
	#side.hide {
		left: 100vw;
	} 

	.controls label {
		display: none;
	}

	#searchBtn {
		display: flex;
		right: 0;
	}

	#searchBtn.hide {
		display: flex;
		right: 100vw;
	}

	.__react_component_tooltip {
		display: none !important;
	}
}

