@import "tachyons";

body {
	font-family: 'PingFang TC', sans-serif;
}

main {
	display: flex;
	background-color: #f2f2f2;
	transition: all .2s ease-in-out;
}

#canvas {
	flex-grow: 1;
}

#card {
	transition: all .2s ease-in-out;
	box-shadow: rgba(0,0,0,0.08) 0 4px 6px 0, rgba(0,0,0,0.16) 0 1px 10px 0;
}

#side {
	width: 360px;
	box-shadow: rgba(0,0,0,0.08) 0 4px 6px 0, rgba(0,0,0,0.16) 0 1px 10px 0;
}

.card {
	cursor: pointer;
	background-color: white;
	transition: all .2s ease-in-out;
}

#results {
	opacity: 1;
	transition: all .2s ease-in-out;
}

#results.hide {
	opacity: 0;
}

.card .primary {
	color: #232323;
	font-size: 16px;
	line-height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
    width: 180px;
    overflow: hidden;
}

.card .secondary {
	color: #7D7D7D;
	font-size: 12px;
	line-height: 16px;
}

.card * {
	pointer-events: none;
}

.card:hover {
	background-color: #f2f2f2;
}

.card.active {
	background-color: #f2f2f2;
	box-shadow: 0 0 0 2px #09cef6;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

input[type=text] {
  	background-color: rgba(118,118,128,.12);
  	color: #111111;
  	border: none;
  	border-radius: 10px;
  	padding: 16px 16px 16px 44px;
}

input[type=text] + img {
	top: calc(50% - 12px);
    left: 44px;
}

input[type='radio'] {
	position: absolute;
	left: -99999em;
	top: -99999em;
}

input[type='radio'] + label {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	color: #232323;
	cursor: pointer;
	float: left;
	border-bottom: 0;
	background-color: #fff;
	padding: 12px 0;
	position: relative;
	transition: all .2s ease-in-out;
}

input[type='radio'] + label:hover {
    background-color: #eee;
}

input[type='radio']:checked + label {
	box-shadow: inset 0 -4px 0 0px #09cef6;
	background-color: #fff;
	z-index: 1;
	color: #09cef6;
}